#footerContainer {
  width: 100%;
  background-color: #ffffff;
  -moz-box-shadow:0px -5px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow:0px -5px 2px rgba(0,0,0,0.3);
  box-shadow:0px 0 -5px 5px rgba(0,0,0,0.3);
}

.footer {
  background-color: #ffffff;
  width: 70%;
  max-width: 900px;
  height: 300px;
  text-align: center;
  margin: 0 auto;


  .content {
    position: relative;
    height: 100%;
    // background-color: teal;

    .logo {
      height: 25%;
      font-size: 30px;
      // background: violet;
      font-weight: 900;
      width: 100%;

      h2 {
        @include vertical-align;
        padding-top: 20px;


        a {
          color: rgba(55, 135, 255, 0.31);
          @include animate(.4);
        }

        a:hover, a:active {
          color: rgba(55, 135, 255, 1);
        }
      }
    }
    .footerSection:first-child {
      color: #7809f6;
      h2 {
        @include vertical-align;
      }
    }

    .footerInfo{
      height: 75%;

      .footerSection {
        border-collapse: collapse;
        height: 50px;

        p{
          @include vertical-align;
          font-size: 15px;
          color:#888888;
        }



        .socialFooter {
          display: table;
          width: 100%;
          height: 100%;
          margin: 0 auto;

          li {
            display: table-cell;
            border-collapse: collapse;
            vertical-align: middle;

            a{
              text-decoration: none;
            }
          }
        }
      }
      .footerSection:last-child{
        p{
          font-size: 10px;
        }
      }

    }
  }
}



//    SOCIAL MEDIA ICON COLORS

.goF {
  color: $googleplus;
}

.fbF {
  color: $facebook;
}

.inF {
  color: $instagram;
}

.liF {
  color: $linkedin;
}

.twF {
  color: $twitter;
}

.ghF {
  color: $github;
}

.ytF {
  color: $youtube;
}

.vineF {
    color: $vine;
}

.vimeoF {
    color: $vimeo;
}

.piF {
    color: $pinterest;
}

.cpF {
    color: $codepen;
}

.flF {
    color: $flickr;
}

.redF {
  color: $reddit;
}

.scF {
  color: $soundcloud;
}

.twitF {
  color: $twitch;
}

.yelpF {
  color: $yelp;
}

.steamF {
  color: $steam;
}

.fa{
  opacity: .5;
  @include animate(.3);
}

.fa:hover, .fa:active {
  opacity: 1;

}
