@mixin borderBox {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,900,700,400italic,300,100|Pacifico);
@mixin pacifico {
	font-family: 'Pacifico', cursive;
}
@mixin lato {
	font-family: 'Lato', sans-serif;
}

@mixin vertical-align {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

@mixin animate ($time){
	-webkit-transition: #{$time}s ease-in-out;
	-moz-transition: #{$time}s ease-in-out;
	-o-transition: #{$time}s ease-in-out;
	transition: #{$time}s ease-in-out;
}


@mixin bShadow {
	-moz-box-shadow:0px 2px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 2px 2px rgba(0,0,0,0.4);
	box-shadow:0px 2px 5px rgba(0,0,0,0.4);
}
@mixin tShadow {
	-moz-text-shadow:0px 2px 2px rgba(0,0,0,0.4);
	-webkit-text-shadow:0px 2px 2px rgba(0,0,0,0.4);
	text-shadow:0px 2px 5px rgba(0,0,0,0.4);
}
